{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('Style/generique/footer.css') }}">
{% endblock %}


<footer>

	<div class="footerLeftBloc">
		<div class="footerPart1">
			<h3>CONTACT</h3>
			<p> acme.corp@gmail.com</p>
			<p> 0 00 00 00 00</p>
		</div>
		<div class="footerPart2">
			<h3>
				{# <a href="/contact">NEWSLETTER</a> #}
				<a href="#">NEWSLETTER</a>
			</h3>
		</div>
		<p class="footerPart3">@2023. Acme</p>
	</div>

	<div class="footerCenterBloc">
		<div class="footerPart1">
			<h3>PAGES UTILES</h3>
			<p> Nos Menus</p>
			<p> Contact</p>
			<p> Tes informations</p>
		</div>
		<div class="footerPart2">
			<h3>REJOINGEZ-NOUS SUR :</h3>
			<div>
				<a href="#">
					<i class="fa-brands fa-tiktok"></i>
				</a>
				<a href="#">
					<i class="fa-brands fa-twitter"></i>
				</a>
				<a href="#">
					<i class="fa-brands fa-twitter"></i>
				</a>


			</div>

		</div>
		<p class="footerPart3">
			Mentions légales
		</p>
	</div>

	<div class="footerRightBloc">

		<div class="RightBlocTitre">
			ACME
		</div>

		<div class="footerPart3">Politique de remboursement</div>
	</div>
</footer>