{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('Style/generique/navbar.css') }}">
{% endblock %}

<nav class="menuSelection">
	<div>
		{# <a href="{{path('app_menu', {'region': 'Tout'})}}">Menu</a> #}
		<a href="/categorie">Menu</a>
	</div>
	<div>
		{# <a href="{{path('app_menu', {'region': 'Tout'})}}">Menu</a> #}
		<a href="/home">A propos / Compte</a>
	</div>

</nav>