<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>
    <link rel="icon" href="{{ asset('favicon.ico') }}">{% block stylesheets %}{% endblock %}
    <script src="https://kit.fontawesome.com/824439620e.js" crossorigin="anonymous"></script>


</head>

<body>

    {% include '_layout/header.html.twig' %}
    {% include '_layout/navbar.html.twig' %}


    {% block content %}{% endblock %}
    {% include '_layout/footer.html.twig' %}

</body>

</html>