@import url("https://fonts.googleapis.com/css?family=Montserrat:200&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: black;
    padding-top: 50px;
    flex: 1;


}